/* Responsive rsume pages list*/

@media only screen and (max-width:576px)  {
    .resume-pages-list{
        border: none !important;
        box-shadow: none !important;
        overflow-x: hidden !important
    }

    .resume-pages-list li.active-index::after {
        display: none !important;
    }

    .resume-pages-list li.active-index{
        border-radius: 10px;
        color: white !important;
        background-color: #ff9f00 !important;
    }

    .resume-pages-list li{
       
    } 

    .resume-pages-list li .bi-caret-left-fill{
        display: none;
    }
}

@media only screen and (max-width:576px){
    .output-options{
        top: 90%;
    }
}