/* Responsive rsume pages list*/

@media only screen and (max-width:576px)  {
    .resume-pages-list{
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        overflow-x: auto !important
    }

    .resume-pages-list li.li-color::after {
        display: none !important;
    }

    .resume-pages-list li{
       
    } 

    .resume-pages-list li .bi-caret-left-fill{
        display: none;
    }
}

@media only screen and (max-width:576px){
    .output-options{
        top: 90%;
    }
}