body{
    background-color: #f4f5f7;
    font-family: Vazir;
    overflow-y: scroll;
}

:root{
    --gary:#999;
    --green:#1bc01b
}
@font-face{
    font-family: "Vazir";
    src: url(/Font/Vazir-Bold.eot) format("eot");
}


.main-container{
    width:840px;
    max-width: 95vw
}

.input,.select-group,.year label{
    color: #999;
}

.add-more span{
    color: #999;
    font-size: 0.9rem;
}
.add-more{
    z-index: 100;
}

.p-color{
    color: #999;
    font-size: 0.9rem ;
}

.resume-pages-list li{
    cursor: pointer;
    color: var(--gary);
    font-size: 0.9rem;
    font-weight: 500;

}
.resume-pages-list{
	z-index:200;
	
}



/* height for each section */
.page{
    min-height: 230px ;
}


.section-title {
    height: 40px;
}

#selectImgBTN::-webkit-file-upload-button{
    visibility: hidden;
}

#selectImgBTN{
    width:40px;
	height:25px;
    right: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
    cursor: pointer;
}

.select-img i{
    z-index: 2;
}

.user-img{
    background-color:rgba(128, 128, 128, 0.264) ;
    border-color: var(--gary);
    width: 110px ;
    height: 110px;
    border-radius: 50%;
}

.input,.select-group,.year .form-label{
    font-size: 0.75rem;
}


.year input[type=text]{
   padding: 3px 5px  ;
}

select option{
    font-size: 0.8rem ;
}

.section-inputs  p{
    font-size: 0.9rem;
    text-align: justify;
}

.addingBoxBTN{
    bottom: -30%;
    left: 50%;
    background-color: orange;
    border-radius: 50%;
    transition: 0.3s;
    width: 40px;
    height: 40px;
    transform: translateX(-50%);
    z-index:500 !important; 
   
}


p{
    text-align: justify !important;
}

.addingBoxBTN:hover{
    background-color: rgba(255, 166, 0, 0.66);

}

.box section{
    margin-top:40px;
}

.resume-pages-list li{
    position: relative;
}

.resume-pages-list li, .resume-pages-list li i{
    transition: all 0.3s;
}

.resume-pages-list li:hover{
    color: rgb(0, 180, 246);
}

.li-color{
    color: rgb(0, 180, 246) !important;
}

.resume-pages-list li.li-color::after {
    position: absolute;
    content: "";
    bottom: -80%;
    height:3px;
    width: 100%;
    background-color: #ff9f00;
    left: 0;
    transition: all 0.3s;
}

.resume-pages-list li.li-color i{
    color: #ff9f00;
}


.select-value-color option , .select-value-color {
    color: #ff9f00;
}


.index-top{
    z-index: 999;
   
}

.output-options{
    top: 80%;
    right: 0;
    bottom: 0;
    width: 100vw;
    max-height: 100px;
    z-index: 50;
}

@media only screen and (max-width:576px){
    .output-options{
        top: 90%;
    }
}

.nav-link{
    transition: all 0.3s;
    font-size: 0.9rem;
}
.nav-link:hover{
    color: blue !important;
}
.dropdown-menu li a:hover{
    background-color: transparent;
    color: blue;
}
.dropdown-menu li a{
    font-size: .875rem !important;
}

#userPannelLink:hover i {
    color: white !important;
}

#userPannelLink i{
    font-size: 1.2rem;
    transition: all 0.3s;
}


.resume-pages-list{
    position: sticky;
    top: 0;
}

/* Responsive rsume pages list*/

@media only screen and (max-width:576px)  {
    .resume-pages-list{
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        overflow-x: auto !important
    }

    .resume-pages-list li.li-color::after {
        display: none !important;
    }

    .resume-pages-list li{
       
    } 

    .resume-pages-list li .bi-caret-left-fill{
        display: none;
    }
}

.top-btns{
    top:17%;
}

.resume-progress-circle{
    width: 220px;
    height: 180px;
}

.progress-circle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    
}

.inside-circle{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border-width: 5px !important;
}

.resume-progress-circle .text span{
    font-size: 0.8rem;
}

.resume-progress-circle .text span:first-child,#use-resume-progress{
    color: var(--green);
    font-size: 1.3rem;
}

#leaveingCommentBTN{
    background-color: orange;
    box-shadow: 0 3px 0px 0px rgb(198, 137, 52);
}

#comment-box{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.7);
}

.star-box{
    width: 260px;
    min-height: 150px;
    border: 1px solid white;
    animation-name: starboxanime;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    
}

@keyframes starboxanime{
    0%{
        transform: translateY(-10%);
    }

    100%{
        transform: translateY(0%);

    }
}

.stars-row i{
    color: #ff9f00;
    font-size: 1.1rem;
}

.br-gray{
    border-color: gray !important;
}

#closeStarBoxBTN{
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: -15%;
    left: -8%;
    font-size: 1.5rem;
}



.indicators-title{
    font-size: 14px;
    
}

.indicators label{
    font-size: 12px;
}